## app
USER_LIMIT=24
USER_BLACKLIST=
TIMEZONE="Asia/Taipei"

## direct message
DM_BLOCK_USER="you are not allowed to use any functions."
DM_SUBSCRIBRE_SUCCESS="successfully subscribed."
DM_SUBSCRIBRE_MAXIMUM="oops, maximum number of users reached."
DM_UNSUBSCRIBRE_SUCCESS="successfully unsubscribed."
DM_USERS=":user_count user(s) subscribed this bot."
DM_UNKNOWN_COMMAND="unknown command"
DM_MENTION_FAIL="mention fail, but I still wnat to tell you: :mention_text"

## default mention text
MENTION_TEXT="YOU SUCK!"

## twitter config
TWITTER_CONSUMER_API_KEY=
TWITTER_CONSUMER_API_SECRET_KEY=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=